#include "resource.h"
IDI_APP ICON "ReadingRuler.ico"

1 VERSIONINFO
FILEVERSION    0,1,0,0
PRODUCTVERSION 0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Tanni Monroe"
      VALUE "FileDescription",  "Reading Ruler - focus overlay"
      VALUE "FileVersion",      "0.1.0"
      VALUE "InternalName",     "ReadingRuler"
      VALUE "LegalCopyright",   "MIT licensed. (c) 2026 Tanni Monroe"
      VALUE "OriginalFilename", "ReadingRuler.exe"
      VALUE "ProductName",      "Reading Ruler"
      VALUE "ProductVersion",   "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
